{% extends "template.html" %}
{% block body %}
    <a class="btn btn-primary" href="/category/Create" style="float: right">New category</a>
    <table class="table">
        <thead>
            </tr class="table-primary">
                <th>Name: </th>
                <th>Description: </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        {% for i in list %}
        <tr>
            <td style="display: none;">{{ i.id_ }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.description }}</td>
            <td>
                <button style="background-color: #2962ff; color: white; border: none; border-radius: 8px; padding: 8px;"
                onclick="location.href='/update_category/{{ i.id_ }}'" type="button">Update</button>
            </td>
            <td>
                <button style="background-color: #2962ff; color: white; border: none; border-radius: 8px; padding: 8px;"
                onclick="location.href='/delete_category/{{ i.id_ }}'" type="button">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>

{% endblock %}